{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form1.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Verify Mobile Number</legend>
            <div class="form-group">
                {{ form1.mob.label(class="form-control-label") }}
                {% if form1.mob.errors %}
                    {{ form1.mob(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form1.mob.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form1.mob(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
           
            
        </fieldset>
        <div class="form-group">
            {{ form1.send(class="btn btn-outline-info") }}<br><br>
          </div>
    
        
    </form>
</div> 

{% endblock content %}          